<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<h1>Shared Lists</h1>
		<!-- <ul>
    <% lists.forEach( el => { %>
            <li class='listItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.list %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> lists with things left to do.</h2> -->

		<form action="/lists/createList" method="POST">
			<input type="text" placeholder="Enter a new List" name="listItem" />
			<input type="submit" />
		</form>

		<a href="/logout">Logout</a>

		<script src="js/lists.js"></script>
	</body>
</html>
