<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shared Todos</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Todos</h1>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'>  Delete </span>
            </li>
    <% }) %>    
    </ul>

   
    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>

    <h4><%= user.userName %> has <%= left %> tasks to do</h4>

    <h2>Shared Todo Lists</h2>
   

   
    <form action="/lists/createList" method="POST">
        <input type="text" placeholder="Enter a new List" name="listName" />
        <input type="submit" value="Create" />
    </form>


    <a href="/logout">Logout</a>
    <a href="/lists">Shared Lists</a>

    <script src="js/main.js"></script>
</body>
</html>